<html>
 <head> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <title>{{user.username}} books</title> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
 </head>
 <body>
   <h1>{{user.username}}'s books :</h1>

   {%if bookinstance_list%}



      {%for bookins in bookinstance_list%}
         <ul>

         <li class="{%if bookins.is_overdue%}text-danger{%endif%}">
         <a href="{%url 'catalog:bookdetail' bookins.book.id %}">{{bookins.book.title}}</a>
         {{bookins.due_back}}
         </li>
         </ul>

      {%endfor%}
   {%else%}

   <strong>there is no book !!!</strong>

   {%endif%}
<a href="{%url 'catalog:index'%}">Home</a>
</body>
</html>